@font-face {
    font-family: 'Alexandria';
    src: url('Alexandria-Bold.woff2') format('woff2'),
        url('Alexandria-Bold.woff') format('woff'),
        url('Alexandria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('Alexandria-Regular.woff2') format('woff2'),
        url('Alexandria-Regular.woff') format('woff'),
        url('Alexandria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alexandria';
    src: url('Alexandria-Medium.woff2') format('woff2'),
        url('Alexandria-Medium.woff') format('woff'),
        url('Alexandria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

